.sidenav-container {
    height: calc(100vh - 64px);
}
.sidenav {
    height: 100%;
    background-color: rgb(27, 27, 27);
    width: 260px;
    border-radius: 0px;
}
.main-content {
  height: 100%;  
}
.toolbar {
   background-color: rgb(27, 27, 27); 
}
.header {
    color: white;
}